@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Diabetology Practice</h1>
<p>Find available doctors for General Practice. Below is the hospital information:</p>
<h2>Hospital Details</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hospital location and contact information are listed below.</p>
<h2>Location</h2>
<p>123 Healthcare Avenue, Cityville</p>
<a href="@Url.Action("BookAppointment", "Doctor")" class="btn btn-primary">Book Appointment</a>